<template>
  <require from="./address-lookup.css"></require>
  <div>
    <div class="form-group entry">
      <input type="text" placeholder="Enter a Litecoin address to get its balance"
        value.bind="address"
        if.bind="!address" />
      <button type="button" click.delegate="doLookup()" if.bind="!address">Look</button>
    </div>

    <div if.bind="showDonate" class="donation-address">
      <strong>Litecoin Donation Address</strong>
      <input value.bind="address" readonly="readonly" type="text" />
    </div>

    <div if.bind="balance || balance === 0" class="balance">
      <strong>Donations Received: </strong>${balance} LTC
    </div>
  </div>
</template>
